<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.newer.dao.UserposistionMapper">
  <resultMap id="BaseResultMap" type="main.newer.domain.Userposistion">
    <id column="upid" jdbcType="INTEGER" property="upid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
  </resultMap>
  <sql id="Base_Column_List">
    upid, uid, pid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from UserPosition
    where upid = #{upid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from UserPosition
    where upid = #{upid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="main.newer.domain.Userposistion">
    insert into UserPosition (upid, uid, pid
      )
    values (#{upid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="main.newer.domain.Userposistion">
    insert into UserPosition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="upid != null">
        upid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="pid != null">
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="upid != null">
        #{upid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="main.newer.domain.Userposistion">
    update UserPosition
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
    </set>
    where upid = #{upid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="main.newer.domain.Userposistion">
    update UserPosition
    set uid = #{uid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER}
    where upid = #{upid,jdbcType=INTEGER}
  </update>
</mapper>